# 🔧 Core
flask
flask-cors
pyyaml
tqdm
numpy
Pillow
scikit-learn

# ⚙️ Torch + Faiss
torch
torchvision
faiss-cpu

# 📷 Computer Vision
opencv-python
mediapipe
ultralytics

# 🤗 NLP + CLIP
transformers

# 🧠 Face Analysis (Gender, Age, etc.)
insightface
onnxruntime
